<h1>Change this link dealer name into here</h1>
<table>
  <tr>
    <th>Make</th>
    <th></th>
    <th>Model</th>
    <th></th>
    <th>Category</th>
    <center><th>Delete</th></center>
  </tr>
  <% for car in @cars %>
  <tr>
    <td><%= car.make %></td>
    <td>|</td>
    <td><%= car.model %></td>
    <td>|</td>
    <td><%= car.category %></td>
    <td>
      <form action="/admin/car/<%= car.id %>/delete" method="POST">
        <input type="submit" value="Delete">
      </form>
      <% car_id = car.id %>
      <form action="/admin/car/<%= car_id %>/edit" method="GET">
        <input type="submit" value="Edit Car">
      </form>
    </td>
  </tr>
  <% end %>
</table>
