<h1>Hot Deals</h1>
<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th>Day</th>
    <th></th>
    <th>Offer amount</th>
  </tr>
  <% for offer in @offers %>
  <tr>
    <td><%= offer.name %></td>
    <td>|</td>
    <td><%= offer.day %></td>
    <td>|</td>
    <td><%= offer.value %>%</td>
    <td>|</td>
    <td><%= offer.car_id %></td>
    <td>|</td>


    <% car_id = offer.car_id %>
    <td>
      <form method="get" action="/cars/<%= car_id %>">
        <button type="submit"> Check out car offer </button>
      </form>
    </td>



    </tr>
    <% end %>
  </table>


