

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/styles/card.css">

<div class="card">
  <img src="" alt="" style="width:100%">
  <div class="container">
  <% for car in @cars %>
    <h1><%= car.make %> <%= car.model %></h1>
    <p class="title"><%= car.available %></p>
    <p><%= car.category %></p>
    <p>£<%= car.price %> per day</p>
    <a href="#"><i class="fa fa-dribbble"></i></a> 
    <a href="#"><i class="fa fa-twitter"></i></a> 
    <a href="#"><i class="fa fa-linkedin"></i></a> 
    <a href="#"><i class="fa fa-facebook"></i></a> 
    <p><button>Contact</button></p>
    <% end  %>

  </div>
</div>